*{margin:0;padding:0;}/*quitamos margenes */


body{

	background-image: url("../img/header-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;

  
}
header{
	width:100%;
	overflow:hidden;
	position:fixed;
	background:#252932;
	height: 100px;
	top:0;
}
.login{
		max-width: 330px;
		padding: 15px;
		margin:0 auto;
	}
	#sha{
		max-width: 340px;
		-webkit-box-shadow: 	0px 0px 18px 0px rgba(48,50,50,0.48);
		-moz-box-shadow: 	 	0px 0px 18px 0px rgba(48,50,50,0.48);
		box-shadow: 			0px 0px 18px 0px rgba(48,50,50,0.48);
		border-radius:6%;
	}
	#avatar{
		width:96px;
		height:96px;
		margin:0px auto 10px;
		display: block;
		border-radius:50%;
	}
.wrapper{
	width: 90%;
	max-width: 1000px;
	margin :auto;
	text-align: center;
}	
header .logo{
	position:fixed;
}
.fotocabecera{
	width: 120px;
	margin-left: 60px;
}
.cabecera{
	line-height:140px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration: none;	
	line-height: normal;
	font-size:20px;
	transition: all 500ms ease;
	font-family: 'Amatica SC', cursive;
	border-bottom: 1px solid #999; 
	border-left: 1px solid #999; 
	border-top: 1px solid #999; 
	border-right: 1px solid #999; 

}

header nav a:hover{
	background: #f56f3a;
	border-radius:50px;
}

section{
	text-align: center;
}
.listadosection{
	margin-top: 100px;
}
.main {
margin-top:100px;
}
.foto{
	width: 200px;
	height: 200px;
}
.foto2{
width: 200px;
height: 200px;
}
.foto3{
width: 200px;
height: 200px;
}
article {
	font-family: 'Amatica SC', cursive;
	float:left;
	width: 250px;
	border-left: 1px solid #999; 
	border-right: 1px solid #999; 
	border-bottom:  1px solid #999; 
	border-top: 1px solid #999; 
	text-align: center;
	margin-bottom: 100px;
}
article a{
	font-size:18px;
	color:#ffffff;
	margin: 20px;

}

p{
	font-family: 'Shadows Into Light', cursive;
	font-size:18px;
	color:#ffffff;
	margin: 20px;

}
.altaform{
		display:inline-block;
		width: 250px;
		color:#ffffff;
		font-size:25px;
		font-family: 'Amatica SC', cursive;
}

.a-lista{
	border-bottom: 1px solid #999; 
	padding-left: 20px;
}

.form-listarnotas{
		float: left;
		color:#ffffff;
		font-size:20px;
		font-family: 'Amatica SC', cursive;
}
.material-icons{
	color:white;
}
.contenedorcrearnota{
	/*width: 150px;*/
	word-wrap:break-word;
}
.container{
	width: 250px;
	word-wrap:break-word;
}
input{
	width: 200px;
/*	margin: 20px;*/
	font-family: 'Shadows Into Light', cursive;
}

fieldset >legend {
	border-radius: 10%;
	font-size:30px;

}
textarea{
	margin-left: 10px;
	font-family: 'Shadows Into Light', cursive;
	border: 3px solid #ffffff;
	border-radius: 10px;
}
input[type=submit]{
	width: 100px;
	margin-left: 50px;
	border-radius: 10px;
}
.container-pablo{
	padding-top: 100px;
}

.contenido {
	padding-top: 100px;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


@media (min-width: 520px) {

header .logo{
	line-height:150px;
}
.cabecera{
	line-height:100px;
	position: fixed;
	top:0px;
	right: 50px;
}
.fotocabecera{
	width: 170px;
	margin-left: 40px;
}
.altaform{

		width: 300px;

}
.main {
margin-top:200px;
}
.container{
	width: 250px;
	word-wrap:break-word;
	margin-left: 80px;
}
.contenedorcrearnota{
	width: 400px;
	word-wrap:break-word;
}
.form-listarnotas{ 
	margin-left: 30px
  }
  textarea{

margin-left: 65px;
}
input[type=submit]{
	margin-left: 200px;
}

}
@media (min-width: 700px) {
.altaform{
		width: 400px;
}
.form-listarnotas{
		width: 400px;	
}
header .logo{
	position:fixed;
	line-height:150px;
}
.fotocabecera{
	width: 170px;
	margin-left: 40px;
}
.cabecera{
	line-height:100px;
	position: fixed;
	top:0px;
	right: 50px;
}
header nav a {
	
	font-size:25px;
	
}

}
@media (min-width: 992px){

header{
	width:100%;
	overflow:hidden;
	position:fixed;
	background:#252932;
	height: 100px;
	top:0;
	/*margin-bottom: 30px;
	/*ancho 100%  y fondo color azul oscuro*/
}

/*centro el contenido en un bloque y me sirve tanto par el body como para el header*/
header .logo{
	position:fixed;
	line-height:170px;
}
.fotocabecera{
	width: 200px;
	margin-left: 50px;
}
.cabecera{
	position: fixed;
	top:0px;
	right: 50px;
	line-height:100px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration: none;
	padding: 10px 10px;
	font-size:25px;
	line-height: normal;
	transition: all 500ms ease;
	font-family: 'Amatica SC', cursive;
	border-bottom: 1px solid #999; 
	border-left: 1px solid #999; 
	border-top: 1px solid #999; 
	border-right: 1px solid #999; 
}

header nav a:hover{
	background: #f56f3a;
	border-radius:50px;
}

section{
	margin-left: 130px;
	text-align: center;
}
.main {
margin-top:200px;
}

article {
	font-family: 'Amatica SC', cursive;
	margin-left:30px;
	float:left;
	width: 350px;
	border-left: 1px solid #999; 
	border-right: 1px solid #999; 
	border-bottom:  1px solid #999; 
	border-top: 1px solid #999; 
	margin-right: 50px;
	text-align: center;
	margin-bottom: 100px;
}
article a{
	font-size:18px;
	color:#ffffff;
	margin: 20px;

}

.altaform{
		color:#ffffff;
		font-size:25px;
		font-family: 'Amatica SC', cursive;
}
.main {
margin-top:200px;
}


textarea{
	margin-left: 65px;
	font-family: 'Shadows Into Light', cursive;
	border: 3px solid #ffffff;
	border-radius: 10px;
}
input[type=submit]{
	width: 100px;
	margin-left: 200px;
	border-radius: 10px;
}
.container-pablo{
	padding-top: 100px;
}

.contenido {
	padding-top: 100px;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.titulofieldset{
	position:static;

}
fieldset >legend {
	border-radius: 10%;
	font-size:50px;

}

}
/*@media (min-width: 1200px){
article {
	margin-bottom: 100px;
}

}*/
